{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}
<div class="w3ls-inner-banner">
	<div class="container" style="fon">
		<h2>My Profile</h2>
		<h3 style="text-align:right;font-weight:bold;color:black;">
 	{{user.username}}
</h3>
		<label></label>
		<div class="clearfix"></div>
	</div>
</div>
	
<div class="main-content" style="margin-top:60px;height:150px;">
	<div class="features-w3l">
		<div class="container">
			<div class="col-md-5 welcome_top_left" style="font-size:120%">
				<img src="{% static 'images/profile.png' %}" width=250px height=250px><br><br><br>
				<h4 class="edit_profile"><b><a href="{% url 'account:edit_profile' user.id %}">EDIT PROFILE</a></b></h4>
			</div>
			
		</div>
	</div>
<div>


		{% block profile_content %}

		{% endblock %}

{% endblock %}