 {% extends "base.html" %}
 {% load staticfiles %}

 {% block content %}

 <div id="content-wrapper">
                  
        <div id="home" >
      
      <div class="main-slider clearfix">
            <div class="fullheight">
                <img class="center-image" src="{% static '/img/main_11.jpeg' %}" alt="">
                <div class="vertical-align">
                  <div class="container">
                      <!--<div class="banner-block style-4">
                <h4 class="banner-date animate delay-1">Welcome to NRGevent </h4>
                <h2 class="banner-title animate delay-2">Event WordPress Theme</h2>
                <div class="banner-text animate delay-3">With over 12 theme options to choose from, hundreds of customizable options, one click install, demo data and amazing effects the possibilities are truly endless.</div>
                      </div>-->
                  </div>
                </div>
               </div> 
          </div>

          <div class="main-block clearfix">
              <div class="container">
                  <div class="row">
                      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                          <div class="block-header">
                             <h2 class="block-title">HOME</h2>
                      </div>
                  </div>
              </div>
              <div class="screens-block">
                  <div class="screen"><img class="center-image" src="{% static '/img/landing/screen_4.jpg' %}" alt=""></div>
                  <div class="screen"><img class="center-image" src="{% static '/img/landing/screen_22.jpg' %}" alt=""></div>
                  <div class="screen"><img class="center-image" src="{% static '/img/landing/screen_111.JPG' %}" alt="" style="width:361.95px;height:447px;"></div>
                  <div class="screen"><img class="center-image" src="{% static '/img/landing/screen_3.jpg' %}" alt=""></div> 
                  <div class="screen"><img class="center-image" src="{% static '/img/landing/screen_5.jpg' %}" alt=""></div>            
              </div>            
          </div>

       
          <div class="main-block style-2 clearfix">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                  <div class="block-header">
                    <h2 class="block-title">HOME CONTENT</h2>
                    <div class="block-text">home content home content home content </div>
                </div>
              </div>
                  <div class="service-wrapper">
                  <div class="row">
                    <div class="service-block col-xs-12 col-sm-6 col-md-3">
                <div class="service-entry">
                                  <img class="service-icon" src="{% static '/img/service_1.png' %}" alt="">
                        <img class="service-alt" src="{% static '/img/service_1_w.png' %}" alt="">
                        <h4 class="service-title">3 Design themes</h4>
                        <div class="service-text">Comes with Business, Festival and Music themes.</div>
                      </div>
                    </div>
                          <div class="service-block col-xs-12 col-sm-6 col-md-3">
                <div class="service-entry">
                                  <img class="service-icon" src="{% static '/img/service_2.png' %}" alt="">
                        <img class="service-alt" src="{% static '/img/service_2_w.png' %}" alt="">
                        <h4 class="service-title">3 Design headers</h4>
                        <div class="service-text">You can choose the most suitable header for you.</div>
                      </div>
                          </div>                  
                          <div class="service-block col-xs-12 col-sm-6 col-md-3">
                <div class="service-entry">
                                  <img class="service-icon" src="{% static '/img/service_3.png' %}" alt="">
                        <img class="service-alt" src="{% static '/img/service_3_w.png' %}" alt="">
                        <h4 class="service-title">5 Main banners</h4>
                        <div class="service-text">Combine different banners for each pages.</div>
                      </div>
                          </div>
                          <div class="service-block col-xs-12 col-sm-6 col-md-3">
                <div class="service-entry">
                                  <img class="service-icon" src="{% static '/img/service_4.png' %}" alt="">
                        <img class="service-alt" src="{% static '/img/service_4_w.png' %}" alt="">
                        <h4 class="service-title">16 color scheme</h4>
                        <div class="service-text">Easy to change color by color color switcher</div>
                      </div>
                          </div>
                          <div class="service-block col-xs-12 col-sm-6 col-md-3">
               </div>
             
                  </div>
            </div>
          </div>
</div>
          <div class="main-block style-2" style="height:550px;">
              <img class="center-image" src="{% static '/img/bg_11.JPG' %}" alt="" >
              <div class="container">
                  <div class="row">
                      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                          <div class="block-header color-3" style="padding-top:40px;">
                              <h2 class="block-title">MAKING INDIA FUTURE READY !!</h2>
                          </div>
                      </div>
                  </div>
              </div>
          </div>                                        

        </div>

        <div id="about_us">
          <div class="main-block style-2 bg-grey">
              <div class="container">
                  <div class="row">
                      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                          <div class="block-header">
                              <h2 class="block-title">ABOUT-US</h2>
                            </div>
                      </div>
                  </div>
          <div class="theme-block-wrapper row">
            <div class="theme-block col-xs-12 col-sm-6">
              <div class="theme-entry">
                <img class="img-responsive img-full" src="{% static '/img/about_1.JPG' %}" alt="">
                <div class="overlay">
                  <div class="overlay-inner">
                    <div class="overlay-title" style="color:red;">TECHBYTES 2019 </div>
                    <div class="overlay-text"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="theme-block col-xs-12 col-sm-6">
              <div class="theme-entry">
                <img class="img-responsive img-full" src="{% static '/img/about_2.jpg' %}" alt="">
                <div class="overlay">
                  <div class="overlay-inner">
                    <div class="overlay-title" style="color:red;">EVENT 2015</div>
                    <div class="overlay-text"></div>
                    </div>
                </div>
              </div>
            </div>
                    <div class="block-text" style="color: black;text-align:justify;font-size:15px;">“ Student Entrepreneurship Community “ , is a student run body working towards the development of startup ecosystem and building a platform  throughout the country. Our vision “Making India Future Ready “can only be achieved when every engineering student start believing in dreams, and works to own & run his own venture.  
                    Student Entrepreneurship Community is first of its kind angel investor network of students from varied backgrounds across India. It was started to lead a helping hand with successful events in 2015 and 2019. Following the foot prints of our past events, We are launching <span style="color:red;font-weight:bold;">“ JAZBAA 1.0 “ </span> with a mission to provide future entrepreneurs a platform to learn trending technologies and pitch their ideas in front of established investors. 
                    </div>
                                
          </div>                
              </div>
          </div>
        </div>
    
    <div id="mission">
          <div class="main-block style-2">
              <div class="container">
                  <div class="row">
                      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                          <div class="block-header">
                            <!--<h4 class="block-category">Clean & Beautiful</h4>-->
                              <h2 class="block-title">OUR-MISSION</h2>
                             <!-- <div class="block-text">Choose from one of 4 unique options</div>-->
                          </div>
                      </div>
                  </div>
          <div class="row">
            <div class="theme-block col-xs-12 col-sm-6">
              <div class="theme-entry">
                <img class="img-responsive img-full" src="{% static '/img/screen_11.png' %}" alt="">
                <div class="overlay">
                  <div class="overlay-inner">
                    <div class="overlay-title">TECHNOLOGIES</div>
                    <div class="overlay-text">All the latest Technologies are covered.</div>
                    </div>
                </div>
              </div>
            </div>
            <div class="theme-block col-xs-12 col-sm-6">
              <div class="theme-entry" >
                <img class="img-responsive img-full" src="{% static '/img/bg_11.JPG' %}" alt="">
                <div class="overlay">
                  <div class="overlay-inner">
                    <div class="overlay-title">SALUTATION</div>
                    <div class="overlay-text">Technical Salutation for technical God.</div>
                   </div>
                </div>
              </div>
            </div>
            <div class="theme-block col-xs-12 col-sm-6">
              <div class="theme-entry" >
                <img class="img-responsive img-full" src="{% static '/img/screen_22.jpg' %}" alt="">
                <div class="overlay">
                  <div class="overlay-inner">
                    <div class="overlay-title">INTERACTION</div>
                    <div class="overlay-text">Students interaction with redhat authority.</div>
                     </div>
                </div>
              </div>
            </div>  
            <div class="theme-block col-xs-12 col-sm-6">
              <div class="theme-entry">
                <img class="img-responsive img-full" src="{% static '/img/abc.JPG' %}" alt="">
                <div class="overlay">
                  <div class="overlay-inner">
                    <div class="overlay-title">PROJECT PRESENTATION</div>
                    <div class="overlay-text">Presentation of Project</div>
                    </div>
                </div>
              </div>
            </div>                            
          </div>                
              </div>
          </div>      
    </div>
    
        <div id="our_partners">
          <div class="main-block style-2 bg-grey">
              <div class="container">
                  <div class="row">
                      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                          <div class="block-header">
                              <h2 class="block-title">OUR-PARTNERS</h2>
                             </div>
                      </div>
                  </div>
          <div class="row">
            <div class="theme-block col-xs-12 col-sm-6">
              <div class="theme-entry">
                <img class="img-responsive img-full" src="{% static '/img/lw.jpeg' %}" alt="">
                <div class="overlay">
                  <div class="overlay-inner">
                    <div class="overlay-title">Header 3 &amp; Banner 1</div>
                    <div class="overlay-text">Top transparent header with additional information: contact, social links and search popup button.</div>
                     </div>
                </div>
              </div>
            </div>
            <div class="theme-block col-xs-12 col-sm-6">
              <div class="theme-entry">
                <img class="img-responsive img-full" src="{% static '/img/mhrd.jpeg' %}" alt="">
                <div class="overlay">
                  <div class="overlay-inner">
                    <div class="overlay-title">Header 1 &amp; Banner 2</div>
                    <div class="overlay-text">Top transparent header and main banner with search form</div>
                   </div>
                </div>
              </div>
            </div>
            <div class="theme-block col-xs-12 col-sm-6">
              <div class="theme-entry">
                <img class="img-responsive img-full" src="{% static '/img/redhat1.png' %}" alt="">
                <div class="overlay">
                  <div class="overlay-inner">
                    <div class="overlay-title">Header 1 &amp; Banner 3</div>
                    <div class="overlay-text">Top transparent header and main text banner.</div>
                    </div>
                </div>
              </div>
            </div>  
            <div class="theme-block col-xs-12 col-sm-6">
              <div class="theme-entry">
                <img class="img-responsive img-full" src="{% static '/img/samsung.png' %}" alt="">
                <div class="overlay">
                  <div class="overlay-inner">
                    <div class="overlay-title">Header 1 &amp; Banner 4</div>
                    <div class="overlay-text">Top transparent header and main banner with video background.</div>
                       </div>
                </div>
              </div>
            </div>                            
          </div>                
              </div>
          </div>          
        </div>     

   <div id="register">
          <div class="main-block style-2">
              <div class="container">
                  <div class="row">
                      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                          <div class="block-header">
                              <h2 class="block-title">REGISTER-NOW</h2>
                           </div>
                      </div>
                  </div>
                  <div class="costomers-wrapper">
                <div class="row">
                  <div class="costomers-block col-xs-12 col-sm-6 col-md-6">
                    <div class="costomers-entry">
                      <img class="customres-logo" src="{% static '/img/landing/ava_1.jpg' %}" alt="">
                      <div class="cutomers-title">Sponsors</div>
                      <div class="cuctomres-text">The design and the documentation quality is very good. Also the features and the customization options are a lot. But the Customer Support (without which it would be impossible to me to take full advantage of this theme) is the best! Thanks a lot! nmg</div><br>
                      <a class="c-btn b-50 yellow hv-yellow-t" href="#">As A Sponsor</a>
                    </div>
                  </div>
                  <div class="costomers-block col-xs-12 col-sm-6 col-md-6">
                    <div class="costomers-entry">
                      <img class="customres-logo" src="{% static '/img/landing/ava_2.jpg' %}" alt="">
                      <div class="cutomers-title">Students</div>
                      <div class="cuctomres-text">The design quality is TOP TIER! This was by far the best theme I have ever worked with. Very smooth and no code issues. Thank you for such an awesome theme.The design quality is TOP TIER! This was by far the best theme I have ever worked with.Thank you for such an awesome theme.</div><br>
                      <a class="c-btn b-50 yellow hv-yellow-t" href="https://www.lwindia.com/linuxworldindia-summer-industrial-training.php">As A Student</a>
                    </div>
                  </div>
                                                                 
                </div>
              </div>
            
            
          </div>                
              </div>
          </div>      
    </div>

    <div id="FAQs">
          <div class="main-block style-2 clearfix bg-grey">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                  <div class="block-header">
                    <h2 class="block-title">FAQs</h2>
                  </div>
                </div>
              </div>
              <div class="costomers-wrapper">
                <div class="row">
                  <div class="costomers-block col-xs-12 col-sm-6 col-md-6">
                    <div class="costomers-entry">
                      <img class="customres-logo" src="{% static '/img/landing/ava_1.jpg' %}" alt="">
                      <div class="cutomers-title">Sponsers</div>
                      <div class="cuctomres-text">The design and the documentation quality is very good. Also the features and the customization options are a lot. But the Customer Support (without which it would be impossible to me to take full advantage of this theme) is the best! Thanks a lot! nmg</div>
                    </div>
                  </div>
                  <div class="costomers-block col-xs-12 col-sm-6 col-md-6">
                    <div class="costomers-entry">
                      <img class="customres-logo" src="{% static '/img/landing/ava_2.jpg' %}" alt="">
                      <div class="cutomers-title">Students</div>
                      <div class="cuctomres-text">The design quality is TOP TIER! This was by far the best theme I have ever worked with. Very smooth and no code issues. Thank you for such an awesome theme.</div>
                    </div>
                  </div>
                                                                 
                </div>
              </div>
            </div>
          </div>      
    </div>

    <div id="contact_us">
          <div class="main-block style-2">
              <div class="container">
                  <div class="row">
                      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                          <div class="block-header">
                              <h2 class="block-title">CONTACT-US</h2>
                           </div>
                      </div>
                  </div>
                             
          </div>                
              </div>
          </div>      
    </div>

    {% endblock %}
