

	 .form-actions input {border: 1px solid #ccc;border-radius: 0;background-color: #fff;border-left: 3px solid #d2d3d5;box-shadow: inset 0 1px 1px rgba(0,0,0,.075);}
    textarea#id_message {
        height: 100px !important;
    }
    label.col-form-label.requiredField {
        font-weight: 600;
        color: #646464;
        font-size: 18px;
        margin: 8px 0px;
    }

    span.asteriskField {
        color: #c00;
        content: "*";
        font-weight: 800;
        font-size: 1em;
    }
    #id_description {
        border-radius: 0;
        height: 125px !important;
    }
    #SubmitForm:hover {
        background-color: #bb0a0a;
    }

    #SubmitForm {
        cursor: pointer;
        background-color: #c00;
        color: #fff;
        display: inline-block;
        border: none;
        font-size: 18px;
        padding: 12px 40px;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        transition: background 0.2s ease-in 0s;
    }