{% load staticfiles %}
<!DOCTYPE html>
<html>

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui"/>
    <link href="{% static '/css/bootstrap.min.css' %}"  rel="stylesheet" type="text/css" />
    <link href="{% static '/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/css/idangerous.swiper.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/css/style.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/css/style1.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/css/style2.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/css/landing.css' %}" rel="stylesheet" type="text/css" />
    <title>JAZBAA Hackathon1.0</title>
  
</head>
<body data-color="yellow">

   {% block content %}

   {% endblock %}                        
    <!-- FOOTER -->
    <footer class="footer">
      <div class="container">
        <img class="f-logo" src="" alt="JAZBAA Hackathon1.0" style="color:white;">
      </div>
    </footer>  

    <script src="{% static '/js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static '/js/idangerous.swiper.min.js' %}"></script>
    <script src="{% static '/js/landing.js' %}"></script>
    <script src="{% static '/js/anchors.navigation.js' %}"></script>    
</body>

</html>
