{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}

 <!-- HEADER -->
    <header class="header type-1">
      <div class="container">
        
      <nav class="main-nav">
                <ul class="anchor-navigation">
                    <li class="active"><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'home' %}">About-Us</a></li>
                    <li><a href="{% url 'home' %}">Our-Mission</a></li>
                    <li><a href="{% url 'home' %}">Our-Partners</a></li>
                    <li><a href="{% url 'home' %}">Register For Event</a></li>
                    <li><a href="{% url 'home' %}">FAQs</a></li>
                    <li><a href="{% url 'contactus:email' %}">Contact-Us</a></li>
                    
                </ul>       
      </nav>
            <button class="cmn-toggle-switch"><span></span></button>
      </div>
    </header>

<div id="content-wrapper">
    <div class="main-slider clearfix">
        <div class="main-block style-2" style="height:600px;">
            <img class="center-image" src="{% static '/img/bg_11.JPG' %}" alt="" >
                <div class="vertical-align">
                  <div class="container">
                    <div class="banner-block style-4">
		                <h4 class="banner-date animate delay-1">Jazbaa Hackathon1.0 </h4>
		                <h2 class="banner-title animate delay-2">Contact-Us</h2>
		            </div>
                  </div>
                </div> 
        </div>
    </div>
</div>
<div class="row">
<div class="col-md-7" style="border:2px solid #e0d6d6;margin:100px;padding:20px;font-size:20px;border-radius:10px;width:60%;font-family:sans-serif;">

    <form method="post">
        {% csrf_token %}
            {{ form|crispy }}
                <div class="form-actions">
                    <button type="submit">Send</button>
                </div>
    </form>    
</div>      
<div class="col-md-5" style="width:20%;font-size:20px;font-family:sans-serif;"><br><br><br><br><br><br>   

			<p><a href="www.lwindia.com">www.lwindia.com</a></p><br>

			<p><span>Mobile Number : </span> +91 9829105960 / 9351009002</p><br>

            <p><span>Contact Number :</span>0141-2501609</p><br>

		    <h2> @JAZBAA_hackathon1.0 </h2><br>

       
            
            

           
</div>

</div>
{% endblock %}